.three
{
    align-self: center;
    justify-content: center;
    height: 640px;
    width: 1350px;
    margin: 0px;
    padding: 0;
    background-image: url(../images/color_1.jpg);
}
.alll
{
    display: flex;
    color: rgb(15, 15, 15);
    margin-left: 60px;
}
.inside
{
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
    width: 320px;
    height: 180px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(228, 228, 230);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
  .inside:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(15px);
    transition: .5s all ease;
    z-index: 400;
    padding-left: 4px solid #091318;
    padding-top: 4px solid #091318;
    border-radius: 15px;
    border: #091318;
    color: #39b1e0;
  }
.header
{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
p{
    font-size: 16px;
}
a:hover{
   
    color: #fff !important;
}
.testbutton {
    font-family: 'comic sans ms';
    color: #03226A !important;
    font-size: 14px;
    text-shadow: 5px 5px 5px #0D8BDE;
    box-shadow: 1px 1px 1px #37B2F9;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #5DBEEE;
    background: linear-gradient(to top, #5DBEEE, #468CCF);
  }
  .testbutton:hover {
    color: #fff !important;
    background: #CACF34;
  }
  
.alii
{
    margin-left: 240px;
    display: flex;
}
#ersamo
{
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: black;
  height: 130px;
  width: 130px;
}
.twoooo
{
  background-color: #fff;
  display: flex;
}
#display
{
  margin-top: 50px;
  margin-left: 30px;
  font-size: 26px;
  font-weight: 900;
  color: #091318;
}